body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: auto;
    padding: 64px 16px;
    max-width: 528px;
}

/* Styling the header, main content, and footer */

/* Navigation Bar */
nav {
    overflow: hidden; /* Clears floats */
}

/* Style the list */
nav ul {
    list-style-type: none; /* Removes list bullets */
    font-size: x-large;
	text-align: right;
    margin: 0px;
    padding: 0px;
    justify-content: none;
}

/* Display list items inline */
nav ul li {
    display: inline-block;
}

/* Style the links */
nav ul li a {
    display: block; /* Makes the entire area clickable */
    color: black;
    text-align: none; /* Centers text */
    padding: 0px; /* Top and bottom, Left and right padding */
    text-decoration: none; /* Removes underline */
}

/* Change color on hover */
nav ul li a:hover {
	color: gray;
}

nav ul li:first-child {
	float: left;
}

nav ul li:not(:first-child, :last-child){
	margin: 0px 8px;
}

/* Main */
main {
    font-size: larger;
}

/* Footer */
footer {
	overflow: hidden;
} 

footer ul {
	list-style-type: none; /* Removes list bullets */
    /*font-size: ;*/
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

footer ul li{
	display: inline-block;
}

footer ul li a {
    display: block; /* Makes the entire area clickable */
    color: black;
    text-align: none; /* Centers text */
    padding: 0px; /* Top and bottom, Left and right padding */
    text-decoration: none; /* Removes underline */
}

footer ul li a:hover{
	color: gray
}
